
{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
  Ficha de préstamo
{% endblock %}


{% block body %}
<h2>Información sobre el préstamo</h2>
<div class="card">
  <div class="card-header loan-article-title">Artículo</div>
  <div class="card-body">
    <p class="card-text">{{ loan.article.name }}</p>
  </div>
  <div class="card-header loan-user-title">Usuario</div>
  <div class="card-body">
    <p class="card-text">{{ loan.user.get_full_name }}</p>
  </div>
  <div class="card-header loan-state-title">Estado</div>
  <div class="card-body">
    <p class="card-text">{{ loan.get_state_display }}</p>
  </div>
  <div class="card-header loan-description-title">Descripción</div>
  <div class="card-body">
    <p class="card-text">{{ loan.article.description }}</p>
  </div>
  <div class="card-header loan-datetime-title">Fecha y hora de inicio</div>
  <div class="card-body">
    <p class="card-text">{{ loan.starting_date_time }}</p>
  </div>
  <div class="card-header loan-datetime-title">Fecha y hora de término</div>
  <div class="card-body">
    <p class="card-text">{{ loan.ending_date_time }}</p>
  </div>
</div>

<div class="col-md-3">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <form method="post" action="{% url 'modify_loans' %}">
          {% csrf_token %}
          <button class="delete-button" name="loan" value="{{ loan.article.id }}">He perdido este artículo</button>
      </form>
  </div>
</div>

{% endblock %}
