.reservation-space-title {
    background-color: #6c9cff;
    color: #ffffff;
}

.reservation-user-title {
    background-color: #6c9cff;
    color: #ffffff;
}

.reservation-state-title {
    background-color: #6c9cff;
    color: #ffffff;
}

.reservation-description-title {
    background-color: #6c9cff;
    color: #ffffff;
}

.reservation-datetime-title {
    background-color: #6c9cff;
    color: #ffffff;
}