{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
  Ficha de reserva
{% endblock %}


{% block body %}
  <h2>Información sobre la reserva</h2>
  <div class="card">
    <div class="card-header reservation-space-title">{{ reservation.get_type_display }}</div>
    <div class="card-body">
      {% if reservation.type == 'A' %}
        <p class="card-text">{{ reservation.article.name }}</p>
      {% elif resevation.type == 'S' %}
        <p class="card-text">{{ reservation.space.name }}</p>
      {% endif %}
    </div>
    <div class="card-header reservation-user-title">Usuario</div>
    <div class="card-body">
      <p class="card-text">{{ reservation.user.get_full_name }}</p>
    </div>
    <div class="card-header reservation-state-title">Estado</div>
    <div class="card-body">
      <p class="card-text">{{ reservation.get_state_display }}</p>
    </div>
    <div class="card-header reservation-description-title">Descripción</div>
    <div class="card-body">
      {% if reservation.type == 'A' %}
        <p class="card-text">{{ reservation.article.description }}</p>
      {% elif reservation.type == 'S' %}
        <p class="card-text">{{ reservation.space.description }}</p>
      {% endif %}
    </div>
    <div class="card-header reservation-datetime-title">Fecha y hora de inicio</div>
    <div class="card-body">
      <p class="card-text">{{ reservation.starting_date_time }}</p>
    </div>
    <div class="card-header reservation-datetime-title">Fecha y hora de término</div>
    <div class="card-body">
      <p class="card-text">{{ reservation.ending_date_time }}</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <form method="post" action="{% url 'cancel_reservation' %}">
        {% csrf_token %}
        <button class="delete-button" name="reservation" value="{{ reservation.id }}">Cancelar Reserva</button>
      </form>
    </div>
  </div>

{% endblock %}
