{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'mainApp/css/schedule_reset.css' %}"> <!-- CSS reset -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        #feedback { font-size: 1.4em; }
        table .ui-selecting { background: #FECA40; }
        table .ui-selected { background: #F39814; color: white; }
        table .ui-unselected { background: #ffffff; }
        table { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        .popup {
            position: fixed;
            z-index: 1000;
            background-color: white;
            cursor: pointer;
            border-color: black;
            border: 1px;
            display: none;
        }
        .popup .popupform {
            z-index: 1001;
            width: 500px;
            background-color: white;
            color: black;
            text-align: center;
            border: 3px solid #000000;
            position: center;
            padding-left: 2%;
            padding-right: 2%;

        }



    </style>

    <script>
       // var hi="9:00";
        //var hf="18:30";
       // var fecha;


        //function getDay(cotaI, cotaS){
          //  var day = $("#day").empty();
//            if(cotaI>=1 && cotaS<=18 ){
//                day.append("Lunes " + "{{ monday }}");
//                fecha=  "{{ monday }}";
//                return "Lunes";
//            }
//            else if(cotaI>=19 && cotaS<=36 ){
//                day.append("Martes "+ "{{ tuesday }}");
//                fecha=  "{{ tuesday }}";
//                return "Martes";
//            }
//            else if(cotaI>=37 && cotaS<=54 ){
//                day.append("Miércoles "+ "{{ wednesday }}");
//                fecha=  "{{ wednesday }}";
//                return "Miércoles";
//            }
//            else if(cotaI>=55 && cotaS<=72 ){
//                day.append("Jueves "+ "{{ thursday }}");
//                fecha=  "{{ thursday }}";
//                return "Jueves";
//            }
//            else if(cotaI>=73 && cotaS<=90 ){
//                 day.append("Viernes "+ "{{ friday }}");
//                 fecha=  "{{ friday }}";
//                 return "Viernes";
//             }
//         }
//         function setHours(cotaI, cotaS){
//             var day=getDay(cotaI,cotaS);
//             var cI=cotaI;
//             var cS=cotaS;
//             if(day.localeCompare("Lunes")==0){
//
//             }
//             else if(day.localeCompare("Martes")==0){
//                 cI=cotaI-18;
//                 cS=cotaS-18;

//             }
//             else if(day.localeCompare("Miércoles")==0){
//                 cI=cotaI-18-18;
//                 cS=cotaS-18-18;
//             }
/*            else if(day.localeCompare("Jueves")==0){
                cI=cotaI-18-18-18;
                cS=cotaS-18-18-18;
            }
            else if(day.localeCompare("Viernes")==0){
                cI=cotaI-18-18-18-18;
                cS=cotaS-18-18-18-18;
            }
            switch (cI){
                case 1:
                    hi= "9:00";
                    break;
                case 2:
                     hi= "9:30";
                     break;
                case 3:
                     hi= "10:00";
                     break;
                case 4:
                     hi= "10:30";
                     break;
                case 5:
                     hi= "11:00";
                     break;
                case 6:
                     hi= "11:30";
                     break;
                case 7:
                     hi= "12:00";
                     break;
                case 8:
                     hi= "12:30";
                     break;
                case 9:
                     hi= "13:00";
                     break;
                case 10:
                     hi= "13:30";
                     break;
                case 11:
                     hi= "14:00";
                     break;
                case 12:
                     hi= "14:30";
                     break;
                case 13:
                     hi= "15:00";
                     break;
                case 14:
                     hi= "15:30";
                     break;
                case 15:
                     hi= "16:00";
                     break;
                case 16:
                     hi= "16:30";
                     break;
                case 17:
                     hi= "17:00";
                     break;
                case 18:
                     hi= "17:30";
                     break;
            }
            switch (cS){
                case 1:
                    hf= "9:30";
                     break;
                case 2:
                    hf= "10:00";
                     break;
                case 3:
                    hf= "10:30";
                     break;
                case 4:
                    hf= "11:00";
                     break;
                case 5:
                    hf= "11:30";
                     break;
                case 6:
                    hf= "12:00";
                     break;
                case 7:
                    hf= "12:30";
                     break;
                case 8:
                    hf= "13:00";
                     break;
                case 9:
                    hf= "13:30";
                     break;
                case 10:
                    hf= "14:00";
                     break;
                case 11:
                    hf= "14:30";
                     break;
                case 12:
                    hf= "15:00";
                     break;
                case 13:
                    hf= "15:30";
                     break;
                case 14:
                    hf= "16:00";
                     break;
                case 15:
                    hf= "16:30";
                     break;
                case 16:
                    hf= "17:00";
                     break;
                case 17:
                    hf= "17:30";
                     break;
                case 18:
                    hf= "18:00";
                     break;
            }

        }
        $(function(){
            $('.selectable').selectable({
                filter: 'tr',
                start: function () {
                    popdown();
                },
                selecting:function(){
                    $('table,.ui-selected').removeClass('ui-selected')
                },
                stop: function() {
                    var cotaInf= $('table tr').index($('.ui-selected')[0]) +1;
                    var cotaSup= $('table tr').index($('.ui-selected')[$('.ui-selected').length -1]) +1;
                    var dia = getDay(cotaInf, cotaSup);
                    setHours(cotaInf,cotaSup);
                    var result = $("#select-result").empty();
                    $(".ui-selected",this).each(function(){
                        var index = $('table tr').index(this);
                        result.append("#" + (index+1));

                    });
                    var horai= document.getElementById("hora_inicial");
                    horai.value= hi;
                    var horaf= document.getElementById("hora_final");
                    horaf.value= hf;
                    var date= document.getElementById("fecha");
                    date.value= fecha;

                    var horas= $("#horas").empty();
                    horas.append("Desde: "+ hi + " hasta " + hf); //horas que aparecen en formulario
                    result.append(dia + " desde "+hi +" hasta " +hf); //texto que aparece arriba de la grilla
                    popup();
                    }
            });
        });
        function popup() {
            var popup = document.getElementById("popup");
            popup.style.display="block";
        }
        function popdown() {
             var popup = document.getElementById("popup");
            popup.style.display="none";
        }
        window.onload= function () {
            var x =document.getElementById("close");
            console.log(x);
            x.onclick = function(){
                popdown();
            }
        }*/


    </script>
</head>
<!--<p id="feedback">
<span>You've selected:</span> <span id="select-result">none</span>.
</p>-->
<div class="cd-schedule loading">
	<div class="timeline" id="timeline">
		<ul>
			<li><span>09:00</span></li>
			<li><span>09:30</span></li>
			<li><span>10:00</span></li>
			<li><span>10:30</span></li>
			<li><span>11:00</span></li>
			<li><span>11:30</span></li>
			<li><span>12:00</span></li>
			<li><span>12:30</span></li>
			<li><span>13:00</span></li>
			<li><span>13:30</span></li>
			<li><span>14:00</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>
		</ul>
	</div> <!-- .timeline -->
	<div id="line-container" class="line-container">
	<div id="line" class="clock"></div><div class="message" id="message"></div>
		</div>
	<div class="events" id="events">
		<ul>
			<li class="events-group">
				<div class="top-info"><span>Lunes</span></div>

				<ul>
					{% for r in reservations.0 %}

					<li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}">
						<a href="">
							<em class="event-name">{{r.0}}</em>
						</a>
					</li>

					{% endfor%}

				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Martes</span></div>

				<ul>

					{% for r in reservations.1 %}

					<li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}">
						<a href="">
							<em class="event-name">{{r.0}}</em>
						</a>
					</li>

					{% endfor%}
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Miércoles</span></div>

				<ul>
					{% for r in reservations.2 %}

					<li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}" >
						<a href="">
							<em class="event-name">{{r.0}}</em>
						</a>
					</li>

					{% endfor%}
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Jueves</span></div>

				<ul>
					{% for r in reservations.3 %}

					<li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}"  bgcolor="{{r.3}}">
						<a href="">
							<em class="event-name">{{r.0}}</em>
						</a>
					</li>

					{% endfor%}
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Viernes</span></div>

				<ul>
					{% for r in reservations.4 %}

					<li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}">
						<a href="">
							<em class="event-name">{{r.0}}</em>
						</a>
					</li>

					{% endfor%}
				</ul>
			</li>
		</ul>

	</div>



	<div class="week-select" id="week-select">
		<div style="text-align: center; margin-right: auto; margin-left: auto; width: 200px; font-size: 18px">
			<form action="" method="get" class="selectform">
				<a href="?date={{controls.0}}" role="button"><i class="fas fa-angle-double-left"></i></a>
			</form>
			<form action="" method="get" class="selectform">
				<a href="?date={{controls.1}}" role="button"><i class="fas fa-angle-left"></i></a>
			</form>
			<form action="" method="get" class="selectform">
				<a href="?date={{controls.2}}" role="button"><i class="fas fa-angle-right"></i></a>
			</form>
			<form action="" method="get" class="selectform">
				<a href="?date={{controls.3}}" role="button"><i class="fas fa-angle-double-right"></i></a>
			</form>
		</div>

	</div>




	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>

</div> <!-- .cd-schedule -->





